.group-block {
    display: flex;
    justify-content: space-between;
}

button {
    height: 40px;
    width: 130px;
    background-color: #ea5455;
    border: none;
    color: white;
    margin-top: 20px;
    outline: none;
}